---
layout: archive
title: "Selected Publications"
permalink: /publications/
author_profile: true
---

<p>All listed publications are aimed to disseminate research and scholarly technical reports. Apart from any fair dealing for the purposes of research, education, or self-study, all publications may only be reproduced, stored or transmitted online, in any form or by any means, with the prior permission in writing of the author. If you would like to read the PDF file, please drop me an email to: <code>nasyan.taufiq{at}umy.ac.id</code>.</p>

<p>For more recent and updated list of publications, please visit my <a href="https://scholar.google.com/citations?user=MVLUQvMAAAAJ" target="_blank">Google Scholar profile</a>, my <a href="https://www.scopus.com/authid/detail.uri?authorId=57204824240" target="_blank">Scopus page</a>, and Sinta national metric.</p>

<p><i>^ : corresponding author</i></p>

<h2>Journal articles</h2>

<h3>Manuscript under review</h3>
<ul>
{% for item in site.data.portfolio.publications %}
  {% if item.type == "Manuscript Under Review" %}
    <li>
      {{ item.authors }}, "{{ item.title }}", submitted to <i>{{ item.venue }}</i>{% if item.notes %} ({{ item.notes }}){% endif %}.
    </li>
  {% endif %}
{% endfor %}
</ul>

<h3>Published articles in international journal (indexed by Scopus and/or Web of Science)</h3>
<ul>
{% for item in site.data.portfolio.publications %}
  {% if item.type == "International Journal" %}
    <li>
      {{ item.authors }}, 
      "
      {% if item.doi %}
        <a href="{{ item.doi }}" target="_blank">{{ item.title }}</a>
      {% elsif item.url %}
        <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
      {% else %}
        {{ item.title }}
      {% endif %}
      ", 
      <i>{{ item.venue }}</i>{% if item.volume %}, Vol. {{ item.volume }}{% endif %}{% if item.number %}, No. {{ item.number }}{% endif %}{% if item.pages %}, pp. {{ item.pages }}{% endif %}, {{ item.year }}.
    </li>
  {% endif %}
{% endfor %}
</ul>

<h3>Published articles in national journal (indexed by Sinta)</h3>
<ul>
{% for item in site.data.portfolio.publications %}
  {% if item.type == "National Journal" %}
    <li>
      {{ item.authors }}, 
      "
      {% if item.doi %}
        <a href="{{ item.doi }}" target="_blank">{{ item.title }}</a>
      {% elsif item.url %}
        <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
      {% else %}
        {{ item.title }}
      {% endif %}
      ", 
      <i>{{ item.venue }}</i>{% if item.volume %}, Vol. {{ item.volume }}{% endif %}{% if item.number %}, No. {{ item.number }}{% endif %}{% if item.pages %}, pp. {{ item.pages }}{% endif %}, {{ item.year }}.
    </li>
  {% endif %}
{% endfor %}
</ul>

<h2>Conference papers</h2>

<ul>
{% for item in site.data.portfolio.publications %}
  {% if item.type == "Conference Paper" %}
    <li>
      {{ item.authors }}, 
      "
      {% if item.doi %}
        <a href="{{ item.doi }}" target="_blank">{{ item.title }}</a>
      {% elsif item.url %}
        <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
      {% else %}
        {{ item.title }}
      {% endif %}
      ", in <i>{{ item.venue }}</i>{% if item.pages %}, pp. {{ item.pages }}{% endif %}, {{ item.year }}.
    </li>
  {% endif %}
{% endfor %}
</ul>
